div.content {
    width: 800px;
    height: 560px;

    position: absolute;
    top: 0; 
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

button.nav {
    position: absolute;
    top: 50%;
    margin-top: -22px;
    border: none;
    outline: none;
    background-color: #B0BEC5;
    cursor: pointer;
    height: 44px;
    width: 24px;
    transition: 0.5s background ease-in-out;
}

button.nav:hover {
    background-color: #78909C;
}

.nav.next {
    right: 0;
}

p.month-name {
    text-align: center;
    font-family: cursive;
    font-size: 24px;
    margin: 0;
}


table.calendar {
    margin-left: 50px;
    margin-top: 10px;
}

table.calendar, td {
    box-sizing: border-box;
    border: 1px solid grey;
    border-collapse: collapse;
}

table.calendar td {
    width: 100px;
    height: 75px;
    font-family: cursive;
}

table.calendar td.current-day {
    background-color: darkturquoise;
}

table.calendar td img {
    display: none;
    float: right;
    width: 18px;
    height: 18px;
}

table.calendar td.act img {
    display: inline-block;
}

table.calendar td.day:hover {
    background-color: dodgerblue;
    color: white;
}

tr.days-of-week td {
    height: 32px;
    font-family: cursive;
    text-align: center;
}

td.highlight {
    background-color: dodgerblue;
    color: white;
}

#day-content {
    display: none;
    position: absolute;
    width: 360px;
    height: 200px;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px
}

div.day-header {
    width: 100%;
    overflow: hidden;
}

div.day-header > p.day-info {
    font-family: cursive;
    margin-top: 2px;
    margin-bottom: 0;
    text-align: center;
    
}

div.day-header > img {
    /*position: absolute;
    top: 4px;
    right: 4px;*/

    float: right;
    margin-top: 4px;
    margin-right: 4px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

div.new-activity {
    overflow: hidden;
    width: 100%;
}

div.new-activity input[type="text"] {
    margin-top: 6px;
    margin-left: 4px;
    width: 280px;
}

div.new-activity button {
    margin-top: 6px;
    border: none;
    height: 21px;
    width: 65px;
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
    border-radius: 2px;
}

ul.day-activities {
    margin-top: 3px;
    width: 352px;
    height: 140px;
    overflow: auto;
    padding-left: 2px;
    padding-right: 2px;
}

ul.day-activities img {
    width: 18px;
    height: 18px;
    margin-top: 6px;
    margin-left: 4px;
    cursor: pointer;
}

ul.day-activities p {
    display: inline-block;
    margin: 0;
    margin-bottom: 2px;
    padding: 2px;
    border-radius: 2px;
    width: 280px;
    border: 1px solid grey;
    background-color: aliceblue;
    font-family: cursive;
    font-weight: bold;
    font-size: 18px;
}

.arrow-up:before {
    content: "";
    position: absolute;
    left: 175px;
    top: -5px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
}

.arrow-down:after {
    content: "";
    position: absolute;
    left: 175px;
    top: 200px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
}

p.copyright {
    position: absolute;
    bottom: 0;
    width: 99%;
    text-align: center;
    font-size: 12px;
}

